.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;

    &__title {
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 32px;

        &-logo {
            display: flex;
            align-items: center;

            img {
                width: 120px;
                height: 40px;
                object-fit: cover;
                margin-bottom: 5px;
            }

            span {
                font-size: 24px;
                font-weight: 500;
            }
        }

        &-help {
            color: #ee4d2d;
            display: block;
        }
    }
}
